# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Статика (собранная)
staticfiles/
media/

.env
.env.local
.env.*.local