# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
ENV/
.env
.env.local
.env.*.local

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Статика (собранная)
staticfiles/
media/

# Файлы фикстур
*.json
!catalog/fixtures/demo.json