<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Genrefy{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'catalog/css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
            <a class="navbar-brand" href="{% url 'catalog:genre_list' %}">
                <strong>Genrefy</strong>
            </a>
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'catalog:genre_list' %}">Жанры</a>
                <a class="nav_link" href="/admin/" target="_blank">Админка</a>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <h1 class="text-primary">Genrefy</h1>
        <p class="lead">Анализатор музыкальных жанров</p>
        <hr>
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{% static 'catalog/js/main.js' %}"></script>
</body>
</html>